<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delete</title>
  {% load staticfiles %}
<link rel="stylesheet" href="{% static 'beltapp3/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
<script src="{% static 'beltapp3/js/main.js' %}" > </script>
</head>
<body>
  <div id="top">
    <a href="{% url 'loginreg:logout' %}">Logout</a>
  </div>
  <h3>Are you sure you want to delete the following item?</h3>
    <p>Item: {{item.item_name}}</p>
    <p>Added by: {{item.creator.full_name}}</p>
    <p>Date Added: {{item.created_at}}</p>
  <form class="" action="{% url 'beltapp3:index' %}" method="post">
    {% csrf_token %}
    <input type="submit" name="no" value="No">
  </form>
  <form action="{% url 'beltapp3:destroy' item_id=item.id %}" method='POST'>
    {% csrf_token %}
    <input type="submit" name="yes" value="Yes! I want to delete this">
  </form>
</body>
</html>
